<!DOCTYPE html>
<html lang="en">
  <head>
    <title>burgers</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <h1>Welcome to Ella's Burgerhouse</h1>
    </main>
    <section>
      <h2>Select Burger</h2>
    </section>
    <section>
      <h4>this is where you execute burger selection</h4>
    </section>
    <section>
      <table>
        <thead>
          <tr>
            <th>Nasty Burger</th>
            <th>Nice Burger</th>
            <th>Namnam Burger</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <img width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-h-DSEvwRwh77HkNEWyFZeINOd-6Pa__2vyxquayflbTmhRC-Iw&s"></td>
            <td> <img width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8HComNXsGM-7olg6V6kOi8P9Y-YE24NM5tq4CDJOrgm4Uh-hR&s"></td>
            <td> <img width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx_MeDe_E_ww_fV62nDaOxtFk3P09xGSEUXFEf_lHsyzGBG86x&s"></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>
              <ul>
                <li>meat</li>
                <li>bread</li>
                <li>cheese</li>
                <li>onion</li>
                <li>lactose free, contains gluten</li>
              </ul>            
            </td>
            <td>
              <li>meat</li>
              <li>bread</li>
              <li>cheese</li>
              <li>tomato</li>
              <li>lactose and gluten free</li>             
            </td>
            <td>
              <li>meat</li>
              <li>bread</li>
              <li>cheese</li>
              <li>onion</li>
              <li>tomato</li>             
              <li>contains gluten and lactose</li>             
            </td>
          </tr>
        </tfoot>     
      </table>      
    </section>
    <h2>Customer Information</h2>
    <h4>this is where you provide neccecary information</h4>
    <section id="contact">
    <form>
    <h3>Delivery Information:</h3>
    <p>
      <label for="firstname">Full name</label><br>
      <input type="text" id="full name" name="fn" required="required" placeholder="First- and last name" />
    </p>
    <p>
      <label for="lastname">E-mail</label><br>
      <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
    </p>
    <p>
      <label for="lastname">Street</label><br>
      <input type="text" id="street" name="s" required="required" placeholder="Street name" />
    </p>
    <p>
      <label for="lastname">House</label><br>
      <input type="number" id="house" name="h" required="required" placeholder="House number" />
    </p>
    <p>
      <label for="recipient">Payment Options</label><br />
      <select id="recipient" name="rcp">
        <option>Visa Card</option>
        <option>Swish</option>
        <option>Mastercard</option>
        <option>Klarna</option>
      </select>
    </p>
    <h3>Gender</h3>
    <p>
      
      <input type="radio" id="female" name="gender" required="required" />
      <label for="lastname">Female</label><br>
      <input type="radio" id="male" name="gender" required="required" />
      <label for="lastname">Male</label><br>
      <input type="radio" id="non-binary" name="gender" required="required" />
      <label for="lastname">Non-binary</label><br>
      <input type="radio" id="undisclosed" name="gender" required="required" checked="checked" />
      <label for="lastname">Undisclosed</label><br>
      
    </p>
    </form>
    </section>
    <p>
      <button type="submit"><img align="left" width=15% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcQSlUIwLilpL6MJ3cOT-mYMpcQjtYa_A0SbpA6YsvI0YIta-M&sx" /> <h3>Place my order</h3></button>
    </p>
    <hr>
      <footer> &COPY; 2020 Ella's Burgerhouse inc. </footer>
  </body>

</html>
