<!DOCTYPE html>
<script src="https://vuejs.org/js/vue.js"></script>
<html lang="en">
  <head>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Ella's Burgerhouse</title>

    <meta charset="utf-8"/>
  </head>
  <body>
    <header>
      <figure>
      <h1>Welcome to Ella's Burgerhouse</h1>
      <img width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTDYuA5CEEyIauGsMtK-mEnTrRsOQN09brTXZhHfiiqYNoKnt9g">
      </figure>
    </header>
    <main id="site">
    <section id="burger">
      <h2>Select Burger</h2>
      <h4>this is where you execute burger selection</h4>



      <div id="burgers" class="wrapper">
        <div v-for="(x, index) in food">
          <h4> {{ x.name }} </h4>         
          <img :src="x.pic" width="250" height="175">
          <ul>
            <li> {{x.kCal}} </li>
            <li v-if="x.lactose"> Contains lactose </li>
            <li v-if="x.gluten"> Contains gluten </li>
            <input type="checkbox" id="burger" :value="x.name" v-model="orderBurger">
          </ul>
        </div>
      </div>     
      
    </section>
    <section id="contact">
      <h2>Customer Information</h2>
      <h4>this is where you provide neccecary information</h4>
      <form>
        <h3>Delivery Information:</h3>
        <p>
          <label for="fullname">Full name</label><br>
          <input v-model="name" type="text" id="full name"  name="fn" required="required" placeholder="First- and last name" />
        </p>
        <p>
          <label for="email">E-mail</label><br>
          <input v-model="email" type="email" id="email" name="em" required="required" placeholder="E-mail address" />
        </p>
        <p>
          <label for="recipient">Payment Options</label><br />
          <select v-model="pay" id="recipient" name="rcp">
            <option>Visa Card</option>
            <option>Swish</option>
            <option>Mastercard</option>
            <option>Klarna</option>
          </select>
        </p>
        <h3>Gender</h3>
        <p>
          
          <input v-model="picked" type="radio" id="female" value="female" name="gender" required="required" />
          <label for="lastname">Female</label><br>
          <input v-model="picked" type="radio" id="male" value="male" name="gender" required="required" />
          <label for="lastname">Male</label><br>
          <input v-model="picked" type="radio" id="non-binary" value="non-binary" name="gender" required="required" />
          <label for="lastname">Non-binary</label><br>
          <input v-model="picked" type="radio" id="undisclosed" value="undisclosed" name="gender" required="required" checked="checked" />
          <label for="lastname">Undisclosed</label><br>
           </p>

        <div class="view-box">
          <div id="dots" v-on:click="addOrder">
            <div 
              v-for="(order, key) in orders"
              v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
              {{key}}
            </div>
          </div>
        </div>
        
      </form>
      <p>
       
        <button v-on:click="markDone()" id="button" type="submit"><img align="left" width=15% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcQSlUIwLilpL6MJ3cOT-mYMpcQjtYa_A0SbpA6YsvI0YIta-M&sx" /> <h3>Place my order</h3></button>
      </p>
      <hr>
    </section>
    
    <span v-if="showOrder"> {{ orderBurger }} {{ name }} {{ email }} {{ street }} {{ house }} {{ pay }} {{ picked }} {{ gender }} {{orders}}</span>
    
    </main>
    <footer> &COPY; 2020 Ella's Burgerhouse inc. </footer>
  </body>

</html>

