<!DOCTYPE html>
<html lang="en">
  <head>
    <title>burgers</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <main>
      <h1>Welcome to BurgerOnline</h1>
    </main>
    <section>
      <h2>Select Burger</h2>
    </section>
    <section>
      <h4>this is where you execute burger selection</h4>
    </section>
    <section>
      <table>
       <thead>
        <tr>
            <th>Nasty Burger</th>
            <th>Nice Burger</th>
            <th>Namnam Burger</th>
        </tr>
       </thead>
           <tbody>
        <tr>
            <td> <img width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-h-DSEvwRwh77HkNEWyFZeINOd-6Pa__2vyxquayflbTmhRC-Iw&s"></td>
            <td> <img width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8HComNXsGM-7olg6V6kOi8P9Y-YE24NM5tq4CDJOrgm4Uh-hR&s"></td>
            <td> <img width=100% src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSx_MeDe_E_ww_fV62nDaOxtFk3P09xGSEUXFEf_lHsyzGBG86x&s"></td>
        </tr>
           </tbody>
       <tfoot>
         <tr>
           <td>
             <ul>
               <li>meat</li>
               <li>bread</li>
               <li>cheese</li>
               <li>onion</li>
               <li>lactose free, contains gluten</li>
             </ul>            
           </td>
           <td>
             <li>meat</li>
             <li>bread</li>
             <li>cheese</li>
             <li>tomato</li>
             <li>lactose and gluten free</li>             
           </td>
           <td>
             <li>meat</li>
             <li>bread</li>
             <li>cheese</li>
             <li>onion</li>
             <li>tomato</li>             
             <li>contains gluten and lactose</li>             
           </td>
         </tr>
       </tfoot>     
</table>
    </section>
    <h2>Customer Information</h2>
    <h4>this is where you provide neccecary information</h4>
    <footer>
    </footer>
  </body>
</html>
