body {
    font-family: "Times New Roman";
    font-size: 1.2em;
    margin: 0 auto;
}

#bold {
    font-weight: bold;
    font-family: arial;
}

#burger {
    color: white;
    background-color: black;
}

input[type="radio"] {
    height: .7em;
    width: .7em;
}

button:hover {
    cursor: pointer;
    background-color: green;
}

section:empty {
    background: magenta;
}

.burgers {
    width: 85%;
    margin: 0 auto;
}
