body {
    font-family: "Times New Roman";
    font-size: 1.2em;
    margin: 0 auto;
}
figure {
    margin: 1%;
    height: 17.4em;
    overflow: hidden;
}

figure img {
    opacity: 0.7;
    width: 100%;
    height: auto;

   
}

figure h1 {
    position: absolute;
    z-index: 1;
    padding-top: 7.5%;
    font-size: 3em;
    padding-left: 20%;
}

#bold {
    font-weight: bold;
    font-family: arial;
}

#burger {
    color: white;
    background-color: black;
    border: dashed;
    padding: 1%;
}

input[type="radio"] {
    height: .7em;
    width: .7em;
}

button:hover {
    cursor: pointer;
    background-color: green;    
}

button {
    margin: 1%
}

section:empty {
    background: magenta;
}

.burgers {
    width: 85%;
    margin: 0 auto;
}

section {
    margin: 1%;
}

#contact {
    border: dashed;
    padding: 1%;
}

.wrapper {
     display: grid;
     grid-gap: 10px;
     grid-template-columns: 20% 20% 20% 20% 20%;
}

.box {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
                
} 

 .a {
     grid-column: 1 / span 4;
 }
 .b {
     grid-column: 5 / span 3 ;
 }
 .c {
     grid-column: 8 / span 3 ;

 }


 .column {
  float: left;
  width: 20%;
  height: 80vh;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
